@{
    ViewBag.Title = "İletişim";
}
<h3>@ViewBag.Title.</h3>

<address>
    Istanbul<br />
    Kadıkoy<br />
    <abbr title="Telefon">Telefon:</abbr>
    533 302 05 71
</address>

<address>
    <strong>Destek:</strong>   <a href="mailto:mete.ayvali@hotmail.com">mete.ayvali@hotmail.com</a><br />
</address>